<div class="rightcolumn">
  <div class="card">
    <h2>About</h2>
    <p>Book your own event now! </p>
    <p><strong>EasyEvents</strong> is meant to be a simple application where you are able to book events at event halls all over Hamilton! If there are any concerns and/or questions please email <strong>mariamalehamed@gmail.com</strong></p>
  </div>
</div>
